---
import { Image } from "astro:assets";
import luciaLogo from "@images/lucia.svg";
import gitHubLogo from "@images/github.svg";
---

<div class="flex justify-between p-8">
  <Image src={luciaLogo} alt="Lucia Logo" />
  <a href="https://github.com/AradhanaID" class="flex items-center gap-4 group cursor-pointer group">
    <Image src={gitHubLogo} alt="Lucia Logo" />
    <p class={"group-hover:underline underline-offset-8"}>View on GitHub</p>
  </a>
</div>
